#
# SHARP configuration
#

menu "SHARP Device Drivers"


source "drivers/sharp/mfc/Kconfig"
source "drivers/sharp/shdiag/Kconfig"
source "drivers/sharp/tunerdrv/Kconfig"
source "drivers/sharp/tunerdrv_tmm/Kconfig"
source "drivers/sharp/shtps/Kconfig"
#/*SH_AUDIO_DRIVER->*//*02-092*/
source "drivers/sharp/shaudio/Kconfig"
#/*SH_AUDIO_DRIVER<-*//*02-092*/
source "drivers/sharp/presenter/Kconfig"
source "drivers/sharp/shmds/Kconfig"
source "drivers/sharp/shtimer/Kconfig"
source "drivers/sharp/shterm/Kconfig"
source "drivers/sharp/shlog/Kconfig"
source "drivers/sharp/shirda/Kconfig"
source "drivers/sharp/shcamled/Kconfig"
source "drivers/sharp/proximity/Kconfig"
source "drivers/sharp/vold/Kconfig"
source "drivers/sharp/shmhl/Kconfig"
source "drivers/sharp/shswic/Kconfig"

source "drivers/sharp/shuim/Kconfig"

source "drivers/sharp/shgeiger/Kconfig"

source "drivers/sharp/shsys/Kconfig"

source "drivers/sharp/phsmdm/Kconfig"

endmenu
