#
# SHMHL device configuration
#
menu "SHMHL driver"
comment "SHARP MHL device drivers"

config SII8334_MHL_TX
	bool "Sharp MHL Driver"
	default n
	help
	  SHMHL Support.

config SII8334_MHL_TX_WITH_SWIC
	bool "Sharp MHL Driver with SWIC"
	depends on SII8334_MHL_TX
	default n
	help
	  SHMHL with SWIC Support.

endmenu
