# drivers/sharp/shswic/Kconfig

menu "SHARP SWIC Device Drivers"

config USB_SWIC
	bool "USB switch IC Driver"

config CRADLE_SWIC
	bool "CRADLE switch IC Driver"

config HOST_SWIC
	bool "HOST switch IC Driver"

config HEADSET_BUTTON_SWIC
	bool "HEADSET BUTTON enable IC Driver"

config HARDWARE_REV_TYPE_1_SWIC
	bool "HARDWARE REV CHECK TYPE 1"

config HARDWARE_REV_TYPE_2_SWIC
	bool "HARDWARE REV CHECK TYPE 2"

endmenu
